@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    cursor: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

:root {
    --green-color: #1dbf73;
    --white-color: #fff;
}

/* scroll bar styling section start */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--green-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--white-color);
}

/* scroll bar styling section end */

.Green-color {
    color: var(--green-color)
}

.BG-Green-Color {
    background-color: var(--green-color);
}

.card-logo-img {
    height: 50px;
    width: 50px;
}

.card-bottom-text {
    font-size: 13px;
}

body .cursor {
    pointer-events: none;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

body .cursor__ball circle {
    fill: #f7f8fa;
}


.Custom-Font {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.Header-text {
    line-height: 100px;
    font-size: 5em;
}

.second-polygon {
    position: relative;
    left: -40px;
    top: 15px;
    animation: moveUpDown 1.5s infinite;
}

@keyframes moveUpDown {
    0% {
        top: 15;
    }

    50% {
        top: 20px;
        /* Adjust the value to control the height of the movement */
    }

    100% {
        top: 15;
    }
}

.All-polygon img {
    width: 40px !important;
    height: 40px !important;
}

/* Section 1 CSS */
.bg-header-image {
    background-image: url("../assets/background.png");
    /* The image used */
    min-height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.custom-sm-font {
    font-size: 14px;
}

/* Navbar Css */
.custom-btn {
    background: rgb(27, 180, 109);
    background: linear-gradient(83deg, rgba(27, 180, 109, 1) 55%, rgba(15, 96, 58, 1) 100%);
    border: none;
    outline: transparent;
    color: white;
    white-space: nowrap;
}

.custom-btn:hover {
    color: white;
    position: relative;
    top: -2px;
}

.custom-btn-hover:hover {
    position: relative;
    top: -2px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Stack CSS */
.Stack-counter {
    font-size: 5em;
}

.Stack-title {
    font-size: 2em;
    line-height: 35px;
}

.stack-line {
    width: 30px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    border-bottom: 1px solid black;
}

.stack-buttons button {
    font-size: 12px !important;
}

.stack-color-green {
    background-color: #edf9f1 !important;
}

.card-stack {
    position: sticky;
    top: 0.5em;
    transform-origin: center top;
    /* margin: 0.5em; */
    min-height: 600px;
}

.border-dash-stack {
    border: 1px dashed rgb(213, 213, 213);
}

.card-stack:nth-child(0) {
    transform: translateY(0px);
}

.card-stack:nth-child(1) {
    transform: translateY(16px);
}

.card-stack:nth-child(2) {
    transform: translateY(30px);
}

.card-stack:nth-child(3) {
    transform: translateY(32px);
}

.card-stack:nth-child(4) {
    transform: translateY(50px);
}

.card-stack:nth-child(5) {
    transform: translateY(70px);
}

.card-stack:nth-child(6) {
    transform: translateY(80px);
}

.card-stack:nth-child(7) {
    transform: translateY(90px);
}

.card-stack:nth-child(8) {
    transform: translateY(100px);
}

.card-stack:nth-child(9) {
    transform: translateY(144px);
}

.card-stack:nth-child(10) {
    transform: translateY(160px);
}

.card-stack:nth-child(11) {
    transform: translateY(176px);
}

.card-stack:nth-child(12) {
    transform: translateY(192px);
}

.card-stack:nth-child(13) {
    transform: translateY(208px);
}

.card-stack:nth-child(14) {
    transform: translateY(224px);
}

.card-stack:nth-child(15) {
    transform: translateY(240px);
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url("../assets/arrow.png");
    background-size: cover;
    border-radius: 100vmax;
    background-position: center;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: consolas;
    color: #ffffff;
    font-size: 15px;
    animation: textRotation 15s linear infinite;
}

@keyframes textRotation {
    to {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}

/* marquee div container */
.marquee {
    font-size: 2vw;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 5.5vw;
    overflow: hidden;
    background-color: var(--green-color);
    position: relative;
}

/* nested div inside the container */
.marquee div {
    display: block;
    width: 200%;
    position: absolute;
    overflow: hidden;
    animation: marquee 12s linear infinite;
}

/* span with text */
.marquee span {
    float: left;
    width: 50%;
}

/* keyframe */
@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}


/* marquee div container */
.marquee-S13 {
    font-size: 2vw;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 5.5vw;
    overflow: hidden;
    background-color: var(--white-color);
    position: relative;
}

/* nested div inside the container */
.marquee-S13 div {
    display: block;
    width: 200%;
    position: absolute;
    overflow: hidden;
    animation: marquee-S13 12s linear infinite;
}

/* span with text */
.marquee-S13 span {
    float: left;
    width: 50%;
}

/* keyframe */
@keyframes marquee-S13 {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.S-12-BG, .S-11-BG {
    background-color: black;
}

.industry-card {
    border: 1px solid white;
}

.ic-text {
    font-size: 12px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.section3-bg-img, .section15-bg-img {
    background-image: url("../assets/section\ 3/background.png");
    /* The image used */
    min-height: 60vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.Section3-man {
    height: 400px;
}

.Heading-text-S15 {
    font-size: 3em;
}

.S14-BG-Color {
    /* min-height: 50vh; */
    color: rgb(0, 0, 0);
    background: rgb(27, 180, 109);
    background: linear-gradient(197deg, rgba(27, 180, 109, 1) 55%, rgba(15, 96, 58, 1) 100%);
}

.custom-card-S14 {
    width: 15rem;
    height: 12rem;
    border: 2px dashed white;
    background-color: rgba(255, 255, 255, 0.222);
    border-radius: 15px;
}

.custom-card-S14:nth-child(1) {
    transform: rotate(3deg);
}

.custom-card-S14:nth-child(2) {
    transform: rotate(-3deg);
}

.custom-card-S14:nth-child(4) {
    transform: rotate(-2deg);
}

.S15-inner-div {
    min-height: 80vh;
    color: white;
}

.S15-inner-div form {
    background-color: black;
    box-shadow: 0px 0px 1px white;
}

.custom-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px !important;
    padding-left: 2px !important;
    color: white;
}

.custom-input:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid var(--green-color);
    border-radius: 0px !important;
    padding-left: 2px !important;
}

.custom-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px !important;
    padding-left: 2px !important;
    color: white;
}

.custom-select option {
    color: black;
}

.custom-select:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid var(--green-color);
    border-radius: 0px !important;
    padding-left: 2px !important;
}

.custom-input::placeholder {
    color: rgb(255, 255, 255);
    /* Change this to the color you want */
    opacity: 1;
    /* Ensure full opacity */
}

.floatingTextarea2 {
    height: 150px !important;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px !important;
    color: white;
}

.floatingTextarea2:focus {
    height: 150px !important;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 0px !important;
    box-shadow: none;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
}

ul {
    list-style: none;
}

.space {
    margin-top: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom-text {
    font-size: 12px;
}

@media screen and (max-width: 1318px) {
    .hide-for-mobile {
        display: none;
    }

    .marquee, .marquee-S13 {
        height: 6.5vw;
    }
}

@media screen and (max-width: 1200px) {
    .card-stack img {
        width: 400px;
    }
}

@media screen and (max-width: 991px) {
    .card-stack img {
        width: 300px;
    }

    .Header-text {
        line-height: 60px;
        font-size: 3em;
    }

    .circle, .cursor {
        display: none;
    }

    .marquee, .marquee-S13 {
        height: 8.5vw;
    }
}

@media screen and (max-width: 767px) {
    .marquee, .marquee-S13 {
        height: 8.5vw;
    }

    .marquee span img, .marquee-S13 span img {
        width: 10%;
    }

    .php {
        width: 30px !important;
    }

    footer {
        display: flex;
        flex-direction: column !important;
    }

    .second-polygon {
        position: relative;
        left: 5px;
        top: -20px;
        animation: moveUpDown 1.5s infinite;
    }

    @keyframes moveUpDown {
        0% {
            top: -20;
        }

        50% {
            top: -15px;
            /* Adjust the value to control the height of the movement */
        }

        100% {
            top: -20;
        }
    }

}

@media screen and (max-width: 610px) {
    .marquee, .marquee-S13 {
        height: 10.5vw;
    }

    .marquee span img, .marquee-S13 span img {
        width: 10%;
    }

    .php {
        width: 30px !important;
    }
}

@media screen and (max-width: 497px) {
    .Heading-text-S15 {
        font-size: 1.5em;
    }

    .marquee, .marquee-S13 {
        height: 14.5vw;
    }

    .marquee span img, .marquee-S13 span img {
        width: 12%;
    }

    .php {
        width: 30px !important;
    }

    .Header-text {
        line-height: 40px;
        font-size: 2em;
    }

    .custom-sm-font {
        font-size: 12px;
    }

    .All-polygon img {
        width: 20px !important;
        height: 20px !important;
    }

    .second-polygon {
        position: relative;
        left: -22px;
        top: 10px;
        animation: moveUpDown 1.5s infinite;
    }

    @keyframes moveUpDown {
        0% {
            top: 10px;
        }

        50% {
            top: 15px;
            /* Adjust the value to control the height of the movement */
        }

        100% {
            top: 10px;
        }
    }
}

@media screen and (max-width: 411px) {
    .Section3-man {
        height: 300px;
    }

    .Header-text {
        line-height: 40px;
        font-size: 2em;
    }

    .custom-sm-font {
        font-size: 12px;
    }

    .All-polygon img {
        width: 20px !important;
        height: 20px !important;
    }

    .second-polygon {
        position: relative;
        left: 2px;
        top: -13px;
        animation: moveUpDown 1.5s infinite;
    }

    .Stack-counter {
        font-size: 3em;
    }

    .Stack-title {
        font-size: 1.5em;
        line-height: 35px;
    }


    @keyframes moveUpDown {
        0% {
            top: -13px;
        }

        50% {
            top: -10px;
            /* Adjust the value to control the height of the movement */
        }

        100% {
            top: -13px;
        }
    }
}